{% extends "base.html" %}

{% block content %}


<div class='col-sm-8 col-sm-offset-2'>


{% for post in obj %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <div class="caption">
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <p>{{ post.content|linebreaks|truncatechars:120 }}<small>{{ post.timestamp|timesince }} ago </small></p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <hr />
</div>
{% endfor %}


</div>

{% endblock %}
